---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;


// Add styles at the end of the file
.publications, .working-paper {
  //font-size: 1.2em;
  margin-bottom: 20px;
}

.bib-entry {
  margin-bottom: 10px;
}

.bib-entry h3 {
  font-weight: bold;
}

.bib-entry p {
  margin: 0;
}



h4#teaching-experiences + ul, h4#industrial-internships + ul {
  padding-left: 11rem;
}

.title-suffix-link:hover {
  text-decoration: none;
}
.title-suffix-link {
  color: #000;
  border: 1px solid;
  padding: 0.1rem .64rem;
  font-size: .64rem;
  float: right;
  font-weight: 500;
}


.post article {
  .profile.float-right {
     margin-left: 1rem;
    padding: 1.5rem 0 0 1.5rem;
    background-color: #fff;
  }
}



.education-top-description {
  width: 68%;
}


@media only screen and (max-width: 640px) {
  .post article {
    .profile.float-right {
      margin-left: 1rem;
      padding: 0;
      background-color: #fff;
    }
  }

  .education-top-description {
    width: 100%;
  }
}